.mv {
  position: relative;

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &_title {
    position: relative;
    padding: 5px;
    background: #fff;
    color: #000;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.3em;
    letter-spacing: 5px;
    text-decoration: uppercase;

    span {
      color: #fff;
      mix-blend-mode: difference;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 60px;
      height: 100%;
      animation: textcover 6s linear infinite;
      background: #000;
    }
  }
}

@keyframes textcover {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 60px);
  }

  100% {
    left: 0;
  }
}
