.services {
  margin: 0;

  &_ctn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 50px;
  }

  &_box {
    padding: 20px;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

    &_icon {
      padding: 10px 0;
    }

    &_name {
      padding-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
    }

    &_des {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
